canvas {
    display: block;
    border: 5px solid rgb(0, 0, 0);
    height: 30%;
    width: 100%;
    
}
.color-block {
    height: 40px;
}

.scroll-content {
    overflow: hidden;
}
.centro{
    display: block;
    border: 5px solid rgb(0, 0, 0);
    height: 30%;
    width: 100%;
}